# Needed for the Discord bot to work
TOKEN=""
CLIENT_ID=""
PERMISSIONS="0"

# If you want to register slash commands for a single guild, uncomment the line below and set COMMANDS_GUILD_ID to that specific guild ID
# COMMANDS_GUILD_ID=""

# If you want to enable the suggestions feature, uncomment the lines below and set them accordingly
# SUGGESTIONS_SERVER_ID=""
# SUGGESTIONS_CHANNEL_ID=""

# If you want to enable the Spotify song link feature, uncomment the lines below and set them accordingly
# You will need to create an application at https://developer.spotify.com/dashboard/applications
# SPOTIFY_CLIENT_ID=""
# SPOTIFY_CLIENT_SECRET=""